@import "../App.scss";

.bg-secondary {
  min-height: 100vh;
  margin-top: 120px;
}

.sc-banner {
  position: relative;
  margin-top: 95px;
  border-top: 4px solid $clr-yellow;
  overflow: hidden;
}

.banner-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-item img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
